* {
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.page {
    background-image: url(./images/DIEHARD-main-logo-background.jpg);
    background-size: 110px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1440px;
    height: 100vh;
    overflow: hidden;
    width: 100%;
}

.page_background-pic {
    margin-top: -90px;
    max-width: 1440px;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0.8;
    z-index: -1;
}

.warning {
    padding-top: 50px;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.warning__excl {
    width: 400px;
}

.warning__title {
    font-weight: bold;
    font-size: 60px;
    margin: 0;
    color: #fff;
    text-align: center;
}

.warning__text {
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    color: #fff;
    text-align: center;
    max-width: 750px;
    width: 80%;
}

.warning__to-main-link {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 150px;
}

.warning__to-main-link:hover {
    opacity: 0.9;
}